<div class="mainContainer">
    <form class="box">
        <img class="imgLogo" src="./assets/cawLogo.png" alt="cawLogo">
        <br>
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input" type="email" placeholder="e.g. alex@example.com">
            </div>
        </div>


        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input password" type="password" placeholder="********">
            </div>
        </div>
        <button class="button is-warning is-fullwidth">Sign In</button>
        <br>
        <div class="block">
            <span>Dont have an account? <strong> <a routerLink="/signup">Sign Up</a></strong> here.</span>
        </div>
    </form>   
</div>