$background: #FFDF6C;
$mainColor: #333333;


.homepageContainer{
    height: 100%;
    background-color: #FFDF6C;


    .columns{
        .column{
            margin: 10px;
        }    
    }
}


@media only screen and (max-width: 770px){
    .homepageContainer{
        .userFinderContainer{
            display: none;
        }
    }
}