$background: #FFDF6C;
$mainColor: #333333;


.homepageContainer{
    width: 100vw;
    height: 100%;
    background-color: #FFDF6C;


    .columns{

        .customColumn{
            width: 100%;
        }

        .column{
            margin: 10px;
        }    
    }
}