$background: #FFDF6C;
$mainColor: #333333;


.homepageContainer{
    width: 100vw;
    height: 100%;
    background-color: #FFDF6C;

    .columns{
        .column{
            margin: 10px;
        }    
    }
}