.userItemContainer {
    margin-top: 10px;

    .box {
        // background-color: var(--grey);
        // color: white;

        .elements {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;

            .imageElement {
                width: 45px;
                height: 45px;
            }

            .nameElement {
                margin-left: 5px; 
                position: relative;

                .name {
                    font-size: 15px;
                }
            
                .tag {
                    position: relative;
                    top: -5px;
                    margin-top: 5px;
                    font-size: 12px;
                }
            }
            
            .actionButtons{
                display: flex;
                position: absolute;
                right: 0;

                .followButton{
                    margin-right: 5px;
                    .button{
                        width: 40px; 
                        height: 40px;
                    }
                }

                .profileButton{
                    .button{
                        width: 40px; 
                        height: 40px;
                    }
                }
            }
        }
    }
}
