<div class="cawmakerContainer">
    <div class="box">
       <form [formGroup]="cawFormGroup">
        <textarea 
            rows="2" 
            class="textarea" 
            (input)="textAreaUpdate(cawTextarea)" 
            placeholder="Caw something..." 
            maxlength="180"
            #cawTextarea
            formControlName="cawMessage"
            ></textarea>
            <!-- <div class="container123">
                <button (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</button>
                <br><emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)" title="Choose your emoji"></emoji-mart>
            </div> -->

        <div class="cawActions">
            <span></span>
            <div class="rightActions">
                <span class="charCount">{{totalTextAreaLength}} Characters left</span>
                <button type="button" class="button is-rounded is-warning" (click)="addCaw()">Caw</button>
            </div>
        </div>
    </form>
    </div>
</div>
