@import '~@ctrl/ngx-emoji-mart/picker';

.cawmakerContainer {
    position: sticky;
    top: 10px;
    margin-top: 20px;

    .box {
        position: relative;
        height: 170px;

        textarea {
            resize: none;
        }

        .cawActions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .rightActions{
                display: flex;
                align-items: center;
                margin-top: 10px;

                .charCount{
                    margin-right: 10px;
                }

            }


            
        }
    }


    .container123 {
        display: grid;
        grid-template-columns: 100% 0%;
        width: 36%;
        
        button {
           background: transparent;
           border: 0;
           transform: translateX(-40px);
           cursor: pointer;
           &:focus {
              outline: 0;
           }
        }
     }
}
