<div class="mainContainer">
    <form class="box">
        <img class="imgLogo" src="./assets/cawLogo.png" alt="cawLogo">
        <br>
        <div class="field">
            <label class="label">First Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="First Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Last Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input" type="email" placeholder="e.g. alex@example.com">
            </div>
            <p class="help is-danger">This email is invalid</p>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input password" type="password" placeholder="********">
            </div>
        </div>
        <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control">
                <input class="input password" type="password" placeholder="********">
            </div>
        </div>
        <button class="button is-warning is-fullwidth">Sign Up</button>
        <br>
        <div class="block">
            <span>Already have an account? <strong><a routerLink="/login">Login</a></strong> here.</span>
        </div>
    </form>
</div>