<div class="userFinderContainer">
    <div class="box" [formGroup]="userFinderForm">
            <input 
                (keyup.space)="findUser($event)"
                class="input" 
                placeholder="Find other cawer's here..."
                formControlName="userQuery"
                />
            <div class="cawActions">
                <span></span>
                <div class="rightActions">
                    <a 
                        (click)="findUser($event)"
                        type="button" 
                        class="button is-rounded is-warning" 
                        >FIND</a>
                </div>
            </div>
        <div>
            <UserFinderItem 
                *ngFor="let user of users" 
                [currentUser]="currentUser" 
                [user]="user"
                (buttonClicked)="clearSearchbar()"
                ></UserFinderItem>
        </div>
    </div>
</div>