<div class="profileEditContainer">
    <div class="previewComponent">

        <div class="editDropdown">
            <span class="icon">
                <fa-icon [icon]="faEdit"></fa-icon>
            </span>
        </div>

        <div class="userImage">
            <img src="./assets/cawLogo.png">
        </div>
        <div class="userInformation">
            <h3 class="title is-3">Shashank Nayak</h3>
            <h6 class="subtitle is-6">@shah</h6>
        </div>
        <div class="stats">
            <div class="statBox">
                <h3 class="title is-3">100</h3>
                <h6 class="subtitle is-6">Followers</h6>
            </div>
            <div class="statBox">
                <h3 class="title is-3">124</h3>
                <h6 class="subtitle is-6">Following</h6>
            </div>
            <div class="statBox">
                <h3 class="title is-3">124</h3>
                <h6 class="subtitle is-6">Following</h6>
            </div>
        </div>

        <div class="actionButtons"> 
            <button class="button is-warning">Follow</button>
            <button class="button ">Message</button>
        </div>
    </div>
</div>