<div class="cawmakerContainer">
    <div class="box">
       <form>
        <textarea 
            rows="2" 
            class="textarea" 
            (input)="textAreaUpdate(cawTextarea)" 
            placeholder="Caw something..." 
            maxlength="180"
            #cawTextarea></textarea>
        <div class="cawActions">
            <span></span>
            <div class="rightActions">
                <span class="charCount">{{totalTextAreaLength}} Characters left</span>
                <button class="button is-rounded is-warning">Caw</button>
            </div>
        </div>
    </form>
    </div>
</div>
